
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
            rel="stylesheet">
    <title>Mi aplicación</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
                <a class="navbar-brand" href="/">
                    <h2>Mi aplicacion<em>.</em></h2>
                </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inputs">Clase1</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/subjects_registereduser">My subjects</a>
                        </li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <button class="botons" type="submit" >LogOut</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<br><br><br><br><br><br>