
{{>header}}
<body>

        {{#bool}}

        {{/bool}}
        <button>Button</button>
        <h2>Frutas</h2>
        <ul>

            {{#frutas}}

                    <li>{{.}}</li>

            {{/frutas}}
        </ul>
    </body>
    {{>footer}}

