{{>header}}
<form class="formulario" action="/login" method="post">
    <input type="email" name="email" placeholder="Email" class="inputs">
    <input type="password" name="password" placeholder="Contraseña" class="inputs">
    <button type="submit" class="botons">Iniciar sesión</button>
</form>




{{>footer}}