{{>header}}
<form class="nuevo-formulario" action="/login" method="post">
    <input type="email" name="email" placeholder="Email" class="nuevo-input">
    <input type="password" name="password" placeholder="Contraseña" class="nuevo-input">
    <button type="submit" class="nuevo-boton">Iniciar sesión</button>
</form>




{{>footer}}