{{>header}}
<form class="nuevo-formulario" action="/signup" method="post">
    <input type="text" name="name" placeholder="Nombre" class="nuevo-input">
    <input type="email" name="email" placeholder="Email" class="nuevo-input">
    <input type="password" name="password" placeholder="Contraseña" class="nuevo-input">
    <button type="submit" class="nuevo-boton">Registrarse</button>
</form>




{{>footer}}