{{>header}}
<form class="formulario" action="/signup" method="post">
    <input type="text" name="name" placeholder="Nombre" class="inputs">
    <input type="email" name="email" placeholder="Email" class="inputs">
    <input type="password" name="password" placeholder="Contraseña" class="inputs">
    <button type="submit" class="botons">Registrarse</button>
</form>




{{>footer}}